<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput >
  </mat-form-field> -->
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="warn">Accent</button>
  <button mat-button >No Thanks</button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Ok</button>
</div>
