<notifier-container></notifier-container>
<section class="content-section">

  <div class="breadcrumb-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>Admin User</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-md-6">Admin User Details</div>
            </div>


          </div>
          <div class="card-body">


            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="adminForm" #adminDetails="ngForm" (ngSubmit)="onSubmit(adminDetails)">
                    <div class="col-md-12">

                      <div class="form-group">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>User Name</mat-label>
                          <input 
                            matInput 
                            formControlName="userName"  >
                        </mat-form-field>
                        <span class="requiedFiled" 
                        *ngIf="adminForm.controls.userName.errors && (!adminForm.controls.userName.pristine || adminForm.controls.userName.touched)" >
                        User Name Is Required
                        </span>
                      </div>
                      
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Email</mat-label>
                          <input 
                            matInput  
                            formControlName="email">
                          
                        </mat-form-field>
                        <span class="requiedFiled" 
                        *ngIf="adminForm.controls.email.errors?.required && (!adminForm.controls.email.pristine || adminForm.controls.email.touched)" >
                        Email Is Required
                      </span>
                      <span class="requiedFiled" 
                        *ngIf="adminForm.controls.email.errors?.email && (!adminForm.controls.email.pristine || adminForm.controls.email.touched)" >
                        Enter a valid email id
                      </span>
                      </div>
                      
                    </div>
                    <div class="col-md-12">
                      <div class="form-group mb-0 d-flex align-items-center add-admin-password">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label> Password</mat-label>
                          <input 
                            [type]="onShow?'password':'text'" 
                            matInput 
                            formControlName="password" >
                        </mat-form-field>
                        <a class="password-show-hide" (click)="onShow = !onShow">
                          <mat-icon matSuffix *ngIf="onShow">visibility_off</mat-icon>
                          <mat-icon matSuffix *ngIf="!onShow">visibility</mat-icon>
                        </a>
                        
                      </div>
                      <span class="requiedFiled" 
                        *ngIf="adminForm.controls.password.errors?.required && (!adminForm.controls.password.pristine || adminForm.controls.password.touched)" >
                        password Is Required
                      </span>
                      <!-- <span class="requiedFiled" 
                        *ngIf="adminForm.controls.password.errors?.minlength && (!adminForm.controls.password.pristine || adminForm.controls.password.touched)" >
                        minimum length should be 8 character
                      </span> -->
                      <span class="requiedFiled" 
                        *ngIf="adminForm.controls.password.errors?.pattern && (!adminForm.controls.password.pristine || adminForm.controls.password.touched)" >
                        Minimum eight characters, at least one letter, one number and one special character
                      </span>
                      <span class="requiedFiled" 
                        *ngIf="edit" >
                        Leave the password blank, if you don't want to change.
                      </span>
                      
                      <!-- <span class="requiedFiled">{{cardDescriptionError}}</span> -->
                    </div>

                  <div class="row mt-3">
                    <div class="col-md-6">
              
                      <button mat-raised-button color="primary" type="submit" [disabled]="adminForm.invalid"  class="bg-submit w-100" >
                        {{edit?'Update':'Add'}}
                      </button>
                      <!-- <button mat-raised-button color="primary" class="bg-submit w-100" >Update</button> -->
                    </div>
                    <div class="col-md-6">
                      <button mat-raised-button color="primary" class="bg-dark  w-100" type="button" (click)="onReset(adminDetails)">
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-7">
        <div class="card">
          <div class="card-header"><div class="row align-items-center">
            <div class="col-md-5">Admin User List</div>
          </div>
        </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="agency-list">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                  <tr class="text-center">
                    <th scope="col">Sl. No.
                      

                    </th>
                    <th scope="col">User Name
                      
                    </th>
                    <th scope="col">Email
                        
                      </th>

                    <th scope="col">Action
                    </th>
                  </tr>
                  <tr *ngIf="adminList?.length == 0">
                    <td [attr.colspan]="4">No Data Found</td>
                  </tr>
                  <tr class="text-center" *ngFor="let item of adminList; let i = index">
                    <td>{{i+1+offset}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.email}}</td>
                    <td>
                      <a href="javascript:;" class="edit border border-danger d-inline p-1 pl-2 pr-2 mr-2 ml-2 text-warning rounded"  matTooltip="Delete" (click)="openDeleteDialog(item.id)">
                        <i class="fa fa-trash red-text" aria-hidden="true"></i>
                      </a>
                        <a href="javascript:void(0);" class="edit border border-warning d-inline p-1 pl-2 pr-2 text-warning rounded"   matTooltip="Edit" (click)="onEdit(item)">
                        <i class="fa fa-pencil" aria-hidden="true"></i></a>
                      
                    </td>
                  </tr>
                </table>

              </div>
            </div>
              <div class="col-md-12 mt-3 p-0">
              <nav aria-label="..." class="d-flex justify-content-space-between">
                <ul class="pagination">
                  <li class="page-item ">
                    <a class="page-link" href="javascript:void(0)" (click)="onPrevious()">Previous</a>
                  </li>
                  <!-- <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li> -->
                  <li class="page-item ">
                    <!-- <a class="page-link" href="#">2 </a> -->
                  </li>
                  <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" (click)="onNext()">Next</a>
                  </li>
                </ul>
                <p class="records">{{(offset+limit)>count?count:(offset+limit)}}/{{count}} Records</p>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>