<section class="content-section">

  <div class="breadcrumb-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">

    <div class="article-content">
      <div class="row topbox">
        <div class="col-lg-3 col-sm-6">
          <div  class="counter-box white">
            <div class="box-content">
              <div class="icon-circle float-left light-red">
                <img src="assets/images/ordered-received.png" style="width: 35px !important;" class="img-fluid"/>
              </div>
              <div class="circle-info">
                <div  class="text font-14"> Total User</div>
                <h3  class="mt-1 ">1500 </h3>
              </div>
            </div>




          </div>

        </div>
        <div class="col-lg-3 col-sm-6">
          <div  class="counter-box white">
            <div class="box-content">
              <div class="icon-circle float-left light-red">
                <img src="assets/images/delivered.png" style="width: 35px !important;" class="img-fluid"/>
              </div>
              <div class="circle-info">
                <div  class="text font-14">Heading Here</div>
                <h3  class="mt-1 ">1500 </h3>
              </div>
            </div>


          </div>

        </div>
        <div class="col-lg-3 col-sm-6">
          <div  class="counter-box white">
            <div class="box-content">
              <div class="icon-circle float-left purple">
                <img src="assets/images/all-user.svg" style="width: 35px !important;" class="img-fluid"/>
              </div>
              <div class="circle-info">
                <div  class="text font-14">New Users</div>
                <h3  class="mt-1 ">1100 </h3>
              </div>
            </div>


          </div>

        </div>
        <div class="col-lg-3 col-sm-6">
          <div  class="counter-box white">
            <div class="box-content">
              <div class="icon-circle float-left blue">
                <img src="assets/images/transaction.svg" class="img-fluid"/>
              </div>
              <div class="circle-info">
                <div  class="text font-14">Transcation</div>
                <h3  class="mt-1 ">400 </h3>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div  class="counter-box white">
            <div class="box-content">
              <div class="icon-circle float-left red">
                <img src="assets/images/delivered.png" style="width: 28px !important;" class="img-fluid"/>
              </div>
              <div class="circle-info">
                <div  class="text font-14">Total Coaches</div>
                <h3  class="mt-1 ">05 </h3>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div  class="counter-box white">
            <div class="box-content">
              <div class="icon-circle float-left light-purple">
                <img src="assets/images/transaction.svg" class="img-fluid"/>

              </div>
              <div class="circle-info">
                <div  class="text font-14">Net Earning</div>
                <h3  class="mt-1 ">15000 </h3>
              </div>

            </div>

          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div  class="counter-box white">
            <div class="box-content">
              <div class="icon-circle float-left dark-purple">
                <img src="assets/images/cancel-order-icon.png" class="img-fluid"/>
              </div>
              <div class="circle-info">
                <div  class="text font-14">Heading Here</div>
                <h3  class="mt-1 ">150 </h3>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div  class="counter-box white">
            <div class="box-content">
              <div class="icon-circle float-left orange">
                <img src="assets/images/today-order.png" class="img-fluid"/>
              </div>
              <div class="circle-info">
                <div  class="text font-14">Today  Users</div>
                <h3  class="mt-1 ">615 </h3>
              </div>

            </div>

          </div>
        </div>

        <!--<div class="col-lg-6 ">-->
        <!--<div  class="counter-box white">-->
        <!--<div class="box-content">-->
        <!--<div class="icon-circle float-left light-red">-->
        <!--<img src="assets/images/trainer-icon.png" style="width: 29px !important;" class="img-fluid"/>-->
        <!--</div>-->
        <!--<div class="circle-info">-->
        <!--<div  class="text font-14">Total Trainer</div>-->
        <!--<h3  class="mt-1 ">15 </h3>-->
        <!--</div>-->

        <!--</div>-->
        <!--<div class="link-widgets"><a routerLink="/both/trainer">Go To <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></a> </div>-->
        <!--</div>-->
        <!--</div>-->

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Analysis</div>
            <div class="card-body">
              <img src="assets/images/graphnew3.png"  class="img-fluid"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Analysis</div>
            <div class="card-body">
              <img src="assets/images/graphnew2.png"  class="img-fluid"/>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row">-->
        <!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">-->
          <!--<div class="card">-->
            <!--<div class="card-header ">-->
              <!--<div class="row align-items-center">-->
                <!--<div class="col-md-7">-->
                  <!--<h2>New Users : </h2>-->
                <!--</div>-->
                <!--<div class="col-md-5">-->
                  <!--<div class="d-flex">-->
                    <!--<input type="text" class="form-control form-control-dark" placeholder="Search  ">-->
                    <!--<button type="submit" class="submit-btn btn bg-primary text-white w-500 ml-2"><i class="fa fa-search" aria-hidden="true"></i></button>-->
                  <!--</div>-->

                <!--</div>-->
                <!---->
              <!--</div>-->

            <!--</div>-->
            <!--<div class="card-body">-->
              <!--<div class="table-responsive action-table sorting-table">-->
                <!--<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">-->
                  <!--<tr>-->
                    <!--<th scope="col">#</th>-->
                    <!--<th scope="col">Customer Name </th>-->
                    <!--<th scope="col">Order Id</th>-->
                    <!--<th scope="col">Product</th>-->
                    <!--<th scope="col">Quantity</th>-->
                    <!--<th scope="col">Location</th>-->
                    <!--<th scope="col">Price</th>-->
                    <!--<th scope="col">Ordered Time</th>-->
                    <!--<th>Status</th>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>1</td>-->
                    <!--<td>Alesdro Guitto</td>-->
                    <!--<td><a href="#" class="order-details">IK00025</a>-->

                    <!--</td>-->
                    <!--<td>Chicken Sandwich</td>-->
                    <!--<td>06</td>-->
                    <!--<td>Church hill</td>-->
                    <!--<td>$ 48.25</td>-->
                    <!--<td>10.05</td>-->
                    <!--<td >-->
                      <!--<span class="delivered"> Delivered</span>-->


                    <!--</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>2</td>-->
                    <!--<td>Jacob Sahwny</td>-->
                    <!--<td><a href="#" class="order-details">IK00026</a></td>-->
                    <!--<td>Plain Piza</td>-->
                    <!--<td>02</td>-->
                    <!--<td>Old Town</td>-->
                    <!--<td>$ 44.75</td>-->
                    <!--<td>11.00</td>-->
                    <!--<td ><span class="pending"> Pending</span></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>3</td>-->
                    <!--<td>Jacob Sahwny</td>-->
                    <!--<td><a href="#" class="order-details">IK00027</a></td>-->
                    <!--<td>Lemon Yogurt Parfait</td>-->
                    <!--<td>01</td>-->
                    <!--<td>Oxford Street</td>-->
                    <!--<td>$ 18:00</td>-->
                    <!--<td>11.00</td>-->
                    <!--<td ><span class="cancelled"> Cancelled</span></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>5</td>-->
                    <!--<td>Alesdro Guitto</td>-->
                    <!--<td><a href="#" class="order-details">IK00025</a></td>-->
                    <!--<td>Chicken Sandwich</td>-->
                    <!--<td>06</td>-->
                    <!--<td>Church hill</td>-->
                    <!--<td>$ 48.25</td>-->
                    <!--<td>10.05</td>-->
                    <!--<td ><span class="delivered"> Delivered</span></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>6</td>-->
                    <!--<td>Alesdro Guitto</td>-->
                    <!--<td><a href="#" class="order-details">IK00025</a></td>-->
                    <!--<td>Chicken Sandwich</td>-->
                    <!--<td>06</td>-->
                    <!--<td>Church hill</td>-->
                    <!--<td>$ 48.25</td>-->
                    <!--<td>10.05</td>-->
                    <!--<td ><span class="delivered"> Delivered</span></td>-->
                  <!--</tr>-->
                <!--</table>-->
              <!--</div>-->
              <!--<div class="pagination-content">-->
                <!--<nav aria-label="Page navigation example">-->
                  <!--<ul class="pagination">-->
                    <!--<li class="page-item">-->
                      <!--<a class="page-link" href="#" aria-label="Previous">-->
                        <!--<span aria-hidden="true">&laquo;</span>-->
                        <!--<span class="sr-only">Previous</span>-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
                    <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                    <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    <!--<li class="page-item">-->
                      <!--<a class="page-link" href="#" aria-label="Next">-->
                        <!--<span aria-hidden="true">&raquo;</span>-->
                        <!--<span class="sr-only">Next</span>-->
                      <!--</a>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</nav>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</section>


