<notifier-container></notifier-container>
<section class="content-section">

  <div class="breadcrumb-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>Pitch Meeting</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3 mt-3">
          <div class="card-header"><div class="row align-items-center">
            <div class="col-md-12">  <h2 class="mb-0 text-dark">Pitch Meeting List</h2></div>
            <!-- <div class="col-md-3">
                <div class="form-group sd mb-0">
                    <select class="form-control mb-0 pr-5 cursor-pointer" id="exampleFormControlSelect1"  [formControl]="userStatus">
                      <option value="">Filter</option>
                      <option value="2">Pending</option>
                      <option value="1">Active</option>
                      <option value="3">Rejected</option>
                    </select>
                </div>
            </div> -->
         
          </div></div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="agency-list">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                  <tr class="text-center">
                    <th scope="col">Sl. No.</th>
                    <th scope="col"> Investor </th>
                    <th scope="col"> Investor's Country </th>
                    <th scope="col" style="min-width: 230px !important"> Proposed Date & Time </th>
                    <th scope="col">Startup</th>
                    <th scope="col"> Startup's Country </th>
                    <th scope="col">Status</th>
                    <th scope="col"> Action </th>
                  </tr>
                  
                  <tr class="text-center" *ngFor="let item of proposedTimeList; let i = index">
                    <td>{{i+1+offset}}</td>
                    <td class="text-left">
                        Company : {{item.investorCompanyName}} <br>
                        Name : {{item.inveatorName}}  <br>
                    </td>
                    <td> {{item.investorCountry}} </td>
                    <td class="text-left">
                        <div class="form-group form-check mb-2">
                            
                            {{item.meetingDate}}
                            <!-- <label class="form-check-label" for="exampleCheck1">14-10-2021 14:00 IST</label> -->
                            <!-- <span class="badge badge-warning ml-2" >Pending</span> -->
                        </div>
                    </td>
                    <td class="text-left">
                        Startup Name : {{item.startupName}} <br>
                        Product : {{item.ProductName}}  <br>
                    </td>
                    <td>{{item.startupCountry}}</td>
                    <td>
                        <span 
                            class="badge badge-warning" 
                            *ngIf="item.isAdminApprove == '0'">
                              Pending
                        </span>
                        <span 
                              class="badge badge-danger" 
                              *ngIf="item.isAdminApprove == '2'">
                                Rejected
                        </span>
                        <span 
                              class="badge badge-success" 
                              *ngIf="item.isAdminApprove == '1'">
                                Approved
                        </span>
                    </td>
                    <td>
                      <button type="button"  class="btn btn-outline-success btn-sm" (click)="onChangeStatus('1',item.id)">Approve</button>
                      <button type="button" class="btn btn-outline-danger btn-sm ml-2" (click)="onChangeStatus('2',item.id)">Reject</button>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
           <div class="col-md-12 p-0 mt-3">
              <nav aria-label="..." class="d-flex justify-content-space-between">
                <ul class="pagination">
                  <li class="page-item ">
                    <a class="page-link" href="javascript:void(0)" (click)="onPrevious()" >Previous</a>
                  </li>
                  <!-- <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li> -->
                  <li class="page-item ">
                    <!-- <a class="page-link" href="#">2 </a> -->
                  </li>
                  <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" (click)="onNext()">Next</a>
                  </li>
                </ul>
                <p class="records">{{(offset+limit)>count?count:(offset+limit)}}/{{count}} Records</p>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

  
  

  



