<notifier-container></notifier-container>
<section class="content-section">

  <div class="breadcrumb-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>Pitch Meeting</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3 mt-3">
          <div class="card-header"><div class="row align-items-center">
            <div class="col-md-12">  <h2 class="mb-0 text-dark">Pitch Meeting List</h2></div>
            <!-- <div class="col-md-3">
                <div class="form-group sd mb-0">
                    <select class="form-control mb-0 pr-5 cursor-pointer" id="exampleFormControlSelect1"  [formControl]="userStatus">
                      <option value="">Filter</option>
                      <option value="2">Pending</option>
                      <option value="1">Active</option>
                      <option value="3">Rejected</option>
                    </select>
                </div>
            </div> -->
         
          </div></div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="agency-list">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                  <tr class="text-center">
                    <th scope="col">Sl. No.</th>
                    <th scope="col"> Investor </th>
                    <th scope="col"> Investor's Country </th>
                    <th scope="col"> Proposed Date & Time </th>
                    <th scope="col">Startup</th>
                    <th scope="col"> Startup's Country </th>
                    <!-- <th scope="col">Status</th> -->
                    <th scope="col"> Action </th>
                  </tr>
                  
                  <tr class="text-center">
                    <td>1</td>
                    <td class="text-left">
                        Investor No : PT-0004 <br>
                        Type : xxx  <br>
                        Company : xxx <br>
                        Name : xxx  <br>
                    </td>
                    <td> India </td>
                    <td class="text-left">
                        <div class="form-group form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-top: 3px;">
                            <label class="form-check-label" for="exampleCheck1">14-10-2021 14:00 IST</label>
                            <span class="badge badge-warning" >Pending</span>
                        </div>
                        <div class="form-group form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-top: 3px;">
                            <label class="form-check-label" for="exampleCheck1">15-10-2021 16:00 IST</label>
                            <span class="badge badge-danger" >Rejected</span>
                        </div>
                        <div class="form-group form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-top: 3px;">
                            <label class="form-check-label" for="exampleCheck1">16-10-2021 18:00 IST</label>
                            <span class="badge badge-success" >Sent</span>
                        </div>
                    </td>
                    <td class="text-left">
                        Startup No : PT-0004 <br>
                        Product : xxx  <br>
                        Founder : xxx <br>
                    </td>
                    <td>Bangladesh</td>
                    <!-- <td>
                        <span class="badge badge-warning" >Pending</span>
                        <span class="badge badge-danger" >Rejected</span>
                        <span class="badge badge-success" >Sent</span>
                    </td> -->
                    <td>
                      <button type="button"  class="btn btn-outline-primary btn-sm">Send</button>
                      <button type="button" class="btn btn-outline-danger btn-sm ml-2" >Reject</button>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
           <div class="col-md-12 p-0 mt-3">
              <nav aria-label="..." class="d-flex justify-content-space-between">
                <ul class="pagination">
                  <li class="page-item ">
                    <a class="page-link" >Previous</a>
                  </li>
                  <!-- <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li> -->
                  <li class="page-item ">
                    <!-- <a class="page-link" href="#">2 </a> -->
                  </li>
                  <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                  <li class="page-item">
                    <a class="page-link" >Next</a>
                  </li>
                </ul>
                <p>50/120 Records</p>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

  
  

  



