<div class="shre">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 mb-2 d-flex align-items-center">
            <h3 class="mb-0 mr-3">Stop on Feedback :</h3>
            <div class="form-group mb-0">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mr-3" value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-lg-12 mb-2 d-flex align-items-center">
            <h3 class="mb-0 mr-3">Evaluate Later :</h3>
            <div class="form-group mb-0">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mr-3" value="3">Show All Time</mat-radio-button>
                    <mat-radio-button value="4">Notify</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-lg-12 mb-2 d-flex align-items-center">
            <h3 class="mb-0 mr-3">Notify Frequency :</h3>
            <div class="form-group mb-0">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mr-3" value="5">When Open</mat-radio-button>
                    <mat-radio-button value="6">After A Day</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12 text-right mt-3">
            <button type="button" class="btn btn-info btn-sm mr-2" >Submit </button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>



