

      <div class="login-container ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-center">
            <!--<div class="col-md-8   align-items-center justify-content-center position-relative bg-white">-->
              <!--<div class="bg-login">-->
              <!--<div class="text-center position-relative">-->
                <!--<h2 class="mb-4 font-42 text-white">Stage is ready.-->
                  <!--Pitch now  </h2>-->
                <!--<p class="text-white p-5">Keep your face always toward the sunshine - and shadows will fall behind you. Continually pursue fully researched niches whereas timely platforms.-->
                <!--</p>-->
                <!--&lt;!&ndash;Credibly parallel task optimal catalysts for change after focused catalysts for change.&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="mb-3"><img src="assets/images/logo-icon.png"/></div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div> <img src="assets/images/login.png" class="img-fluid"/></div>&ndash;&gt;-->
              <!--</div>-->
            <!--</div> </div>-->
            <div class="col-md-4 bg-white">
              <div class="login-form pl-5 pr-5 pb-4 pt-5 bg-white">
                <!-- <div class="mb-4 text-center"> <img src="assets/images/logo-login.png" class="img-fluid"/></div> -->
                <h2 class="mb-3 font-38 text-center text-dark">Login </h2>
                <!--<p class="text-14 text-center text-dark mb-4">Free access to our dashboard.</p>-->
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="User Name"/>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password"/>
                </div>
                <!--<div class="form-group text-right">-->
                  <!--<a href="#" class="font-12 text-dark">Forgot Password ?</a>-->
                <!--</div>-->
                <div class="form-group text-right">

                  <button mat-raised-button color="primary" class="theme-btn-red w-100 login-button" routerLink="/pages/dashboard">Login</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>




